body {
    background-color: white;
    margin: 0px;
}
    /* Estructura básica de la consola */
.container {
    background-color: rgb(255, 255, 255);
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr 4fr 5fr 4fr 4fr;
    grid-template-rows: 1fr 7fr 1fr 3fr 4fr 1fr;
}
.superior {
    background-color: rgb(110, 111, 112);
    border-radius: 9%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.bisagras {
    background: linear-gradient(to bottom, #7c7b7b 0%, #3a3939 100%);
    border-radius: 20% 20% 0% 0%;
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}
.inferior {
    background-color: rgb(110, 111, 112);
    border-radius: 0% 0% 7% 7%;
    grid-column: 3 / 4;
    grid-row: 4 / 6;
}
    /* Fin estructura básica de la consola */
    /* Parte superior de la consola */
.superior-superior {
    height: 12%;
    display:flex;
    justify-content: center;

}
.superior-medio {
    height: 76%;
    display: flex;
    justify-content: center !important;
}
.superior-abajo {
    height: 12%;
    display: flex;
    justify-content: center;
}
    /* Fin parte superior de la consola */
    /* Protectores,logo y marcos superiores */
.superior-superior-marco {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}
.protector {
    background: linear-gradient( rgb(0, 0, 0),rgb(59, 58, 58));
    height: 1.9vw;
    width: 1.9vw;
    border-radius: 100%;
}
.pro-medio {
    background:linear-gradient(rgb(87, 86, 86),rgb(27, 27, 27));
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 100%;
}
.pantalla {
    background-color: rgb(0, 0, 0);
    border-radius: 3%;
    margin-left: 9%;
    margin-right: 9%; 
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.lcd {
    background-color: rgb(150, 156, 121);
    margin-left: 5%;
    margin-top: 5%;
    height: 82%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0%;
}
.logo-gba {
    margin-left: 23%;
    margin-top: 1%;
    z-index: 3;
    justify-content: center;
    align-items: center;
}
.bajo-pantalla {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
    /* Para logo a mano */
/* #gameboy {
    background-color: rgb(8, 8, 8);
    color:rgb(224, 224, 224);
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#advance {
    background-color: rgb(0, 0, 0);
    color: rgb(224, 224, 224);
    font-size: large;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#sp {
    background-color: rgb(8, 8, 8);
    font-size: x-large;
    color:rgb(224, 224, 224);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*/
    /* Fin logo a mano */
    /* Hasta aqui la parte superior completa */

    /* Zona del medio bisagras */
.bisagra1 {
    background-color:black ;
    width: 3px;
    height: 97%;
    margin-left: 8%;
}
.bisagra2 {
    background-color:black ;
    width: 3px;
    height: 100%;
    margin-left: 41%;
}
.bisagra3 {
    background-color:black ;
    width: 3px;
    height: 100%;
    margin-left: 33%;
}
.bisagra4{
    background-color:black ;
    width: 3px;
    height: 97%;
    margin-left: 6%;
    margin-top: 1%
}
    /* Fin zona bisagras */
    /* Parte abajo definida */
.inferior-superior {
    background-color: rgb(110, 111, 112);
    height: 16%;
    display: flex;
}
.inferior-medio {
    background-color: rgb(110, 111, 112);
    height:35%;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;
}
.inferior-abajo {
    display: flex;
    height: 30%;
    justify-content: center;
}
.abajo-abajo {
    height: 18%;
    display: flex;
    justify-content: center;
}
    /* Fin parte abajo definida */
    /* Boton luz + led */
.bt-luz {
    background: linear-gradient(to bottom, #a9ffae 0%, #058f00 100%);
    height: 1.7vw;
    width: 1.7vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 46%;
    margin-top: 8%;
}
#brillo{
    height: 1.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#brillo:hover {
    background-color: rgb(12, 160, 20);
    border-radius: 100%;
    }
.led {
    display: flex;
    margin-left: 50%;
    margin-top: 10%;
}
.led-arriba {
    background-color: rgb(167, 77, 77);
    position:fixed;
    width: 0.8%;
    height: 0.8%;
    display: flex;
    left: 61.1%;
    top:57%
}
.led-abajo {
    background-color: rgb(119, 131, 66);
    position: fixed;
    width: 0.8%;
    height: 0.8%;
    display: flex;
    left: 61.1%;
    top:60%
}
    /* Fin del boton luz + led */
    /* Boton a + b */
.ab-boton {
    height: 60px;
    width: 120px;
    background:linear-gradient(to bottom, rgb(102, 101, 101) 100%, rgb(160, 11, 11)0%);
    border-radius: 72px;
    transform: rotate(-17deg);
    border-left: 20px;
    display: flex;
    position: absolute;
    right: 41vw;
    bottom:  29vh;
}
.boton-a {
    background: linear-gradient(to bottom, #a9ffae 0%, #058f00 100%);
    rotate: 17deg;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 100%;
    position: absolute;
    top: 8px;
    right: 9px;
    text-align: center;
}
.boton-b {
    background: linear-gradient(to bottom, #a9ffae 0%, #058f00 100%);
    rotate: 17deg;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 8px;
    text-align: center;
}
    /* Fin botones a+b */
    /* Botones Start + Select */
.boton-start {
    height: 3%;
    width: 1.6%;
    background: linear-gradient(to bottom, #a9ffae 0%, #058f00 100%);
    border-radius: 100%;
    position: fixed;
    left: 50.6%;
    bottom: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.boton-select {
    height: 3%;
    width: 1.6%;
    background: linear-gradient(to bottom, #a9ffae 0%, #058f00 100%);
    border-radius: 100%;
    position: fixed;
    left: 46.75%;
    bottom: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
#select {
    position: fixed;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 46%;
    bottom: 14%;
    opacity: 45%;
}
#start {
    position: fixed;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 50.3%;
    bottom: 14%;
    opacity: 45%;
}
.boton-start-sombra {
    height: 5%;
    width: 2.5%;
    background:linear-gradient(to bottom, rgb(102, 101, 101) 100%, rgb(160, 11, 11)0%);
    border-radius: 100%;
    position: fixed;
    left: 50.1%;
    bottom: 8%;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.boton-select-sombra {
    height: 5%;
    width: 2.5%;
    background:linear-gradient(to bottom, rgb(102, 101, 101) 100%, rgb(160, 11, 11)0%);
    border-radius: 100%;
    position: fixed;
    left: 46.3%;
    bottom: 8%;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.dpad-boton { 
    height: 15%;
    width: 7%;
    background:linear-gradient(to bottom, rgb(102, 101, 101) 100%, rgb(160, 11, 11)0%);
    border-radius: 100%;
    border-left: 20px;
    position: fixed;
    left: 40%;
    bottom: 25%;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dpad-derecha {
    width: 75%;
    height: 25%;
    background-color: rgb(42, 194, 62);
    position: absolute;
    border-radius: 20%;
    border-width: 4px
}
.dpad-arriba {
    width: 25%;
    height: 75%;
    background-color: rgb(42, 194, 62);
    position: absolute;
    border-radius: 20%;
    border-width: 4px;
}
    /* Dpad botones fin */
    /* Parte de los agujeros */
.inferior-abajo-borde {
    display: flex ;
    width: 10%;
}
.inferior-abajo-boquete {
    display: flex;
    width: 10%;
    align-items: top;
}
.agujeros-vertical {
    display: grid;
    height: 65%;
    width: 100%;
    gap: 20%;
}
.agujeros-horizontal {
    display: flex;
    gap: 8%;
    height: 50%;
    width: 2000%;
    left: 40%;
    top: 50%;
    
}
.agujero {
    background-color: black;
    height: 0.8vh;
    width: 0.8vh;
    border-radius: 100%;
}
   /* Fin parte de los agujeros */
   /* Fin del CSS */