body {
    background-color: white;
    margin: 0px;
}
/* Estructura básica de la consola */
.container {
    background-color: rgb(252, 142, 142);
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr 4fr 5fr 4fr 4fr;
    grid-template-rows: 1fr 7fr 1fr 3fr 4fr 1fr;
}
.superior {
    background-color: rgb(38, 38, 163);
    border-radius: 7%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.bisagras {
    background-color: green;
    border-radius: 25%;
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    height: 25%;
    width: 100%;
}
.inferior {
    background-color: red;
    border-radius: 7%;
    grid-column: 3 / 4;
    grid-row: 4 / 6;
}
    /* Fin estructura básica de la consola */

    /* Parte superior de la consola */
.superior-superior {
    height: 12%;
    display:flex;
    justify-content: center;
    
}
.superior-medio {

    height: 76%;
    display: flex;
}
.superior-abajo {
    height: 12%;
    display: flex;
    justify-content: center;
}
    /* Fin estructura de la consola */
.superior-superior-marco {
    display: flex;
    width: 85%;
    justify-content: space-between;      
    align-items: center;         
}
.protector {
    background-color: black;
    height: 1.9vw;
    width: 1.9vw;
    border-radius: 100%;
}
.pro-medio {
    background-color: black;
    height: 1.6vw;
    width: 1.6vw;
    border-radius: 100%;
}
.pantalla {
    background-color: red;
    margin-left: 9%;
    margin-right: 9%;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.lcd {
    background-color: green;
    margin-left: 5%;
    margin-top: 5%;
    height: 82%;
    width: 90%;
    display: flex;
    justify-content: center;
}
.logo-gba {
    margin-left: 16%;
    margin-top: 1%;
}

.bajo-pantalla {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}